/* Fonts ----------------------------------------- */

@font-face {
    font-family: Banksia;
    src: url('/fonts/Banksia.woff2') format('woff2'),
         url('/fonts/Banksia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Miscellaneous --------------------------------- */

body {
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eadfc5;
    -webkit-tap-highlight-color: transparent;
}

body.metal {
    background-color: #2c2c2c;
}

body.orwell {
    background-color: #527a52;
}

body.sealab {
    background-color: #3478b5;
}

#wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.disabled {
    cursor: default !important;
    /* pointer-events: none; */
}

.hidden {
    display: none;
    opacity: 0 !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.spacer {
    display: none;
    width: 1em;
    height: 1em;
}

:focus {
    outline: none;
}


/* Machine --------------------------------------- */

#machine {
    display: inline-flex;
    position: relative;
    left: -2em;
    width: calc(100vw + 4em);
    height: calc(100vh - 6.8em);
    margin: 0;
    cursor: pointer;
    border: 1.6em solid #1ba3d1;
    background-color: #fcfcfc;
    background-position: 50% 50%;
    background-size: 6em;
    background-repeat: no-repeat;
    box-sizing: border-box;
    box-shadow: 0 0 0 0.2em #178bb3 inset, 0 0 0 1.8em #222, 0 0 0 3.4em #3fa591;
}

/* blue glow: #00d7ff */

.metal #machine {
    padding: 2em;
    border: 0;
    box-shadow: inset 0 0 1px #666, inset 0 1px .125em #8b8b8b, inset 0 2px .25em #a4a2a3, inset 0 -1px .125em #8b8b8b, inset 0 -2px .25em #a4a2a3, inset 0 0 0 .375em #cdcdcd, 0 0 0.8em 1em #cdcdcd, 0 0 0 1.6em #8b8b8b;
    background:
        linear-gradient(#cfcfcf 0, #cdcdcd 7%, #e3e3e3 50%, #cdcdcd 93%, #cfcfcf 100%) no-repeat content-box,
        linear-gradient(transparent 1.4em, #178bb3 12%, #178bb3 88%, transparent calc(100% - 1.4em)) 0 0 no-repeat padding-box,
        radial-gradient(#272727 20%, transparent 25%) 0 0 / 1.25em 1.25em padding-box,
        radial-gradient(#272727 20%, transparent 25%) 0.625em 0.625em / 1.25em 1.25em padding-box,
        radial-gradient(#444 20%, transparent 28%) 0 0.125em / 1.25em 1.25em padding-box,
        radial-gradient(#444 20%, #3d3d3d 28%) 0.625em 0.75em / 1.25em 1.25em padding-box;
}

.orwell #machine {
    box-shadow: 0 0 0 0.2em #d06262 inset, 0 0 0 1.6em #b73737, 0 0 0 1.75em #eee;
}

.sealab #machine {
    box-shadow: 0 0 0 0.2em #f7d043 inset, 0 0 0 1.6em #ea9435, 0 0 0 1.75em #eee;
}

.led {
    display: none;
    position: absolute;
    width: 1em;
    height: 1em;
}

.led-top {
    top: -1.28em;
    cursor: default;
}

.led-bottom {
    bottom: -1.28em;
    cursor: pointer;
}

.led-left {
    left: 40%;
}

.led-middle {
    left: calc(50% - 0.5em);
}

.led-right {
    right: 40%;
}

.metal .led {
    display: block;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-origin: border-box;
    background-image:
        radial-gradient(circle, #898989, #4d4d4d 0.25em, #999 0.325em, rgba(153, 153, 153, 0) 0.35em),
        radial-gradient(circle, rgba(232, 232, 232, 0.5) 0.25em, rgba(232, 232, 232, 0) 0.35em);
}

.metal .led-blue {
    background-image:
        radial-gradient(circle, #01d6ff, #178b98 0.25em, rgba(1, 214, 255, 0.35) 0.35em, rgba(1, 214, 255, 0) 0.6em),
        radial-gradient(circle, rgba(232, 232, 232, 0.5) 0.25em, rgba(232, 232, 232, 0) 0.35em);
}


/* Quote ----------------------------------------- */

#mode-select,
#quote {
    align-self: center;
    width: 100%;
    padding: 0 1.5em;
    color: #333;
    font: normal 2em Banksia, sans-serif;
    line-height: 1.4em;
    letter-spacing: 0.01em;
}

.metal #quote {
    color: #555;
    font-weight: lighter;
    /* text-shadow: 0 -1px #000, 0 1px #ececec; */
}

.loading {
    background-image: url('/images/loading.svg');
}

.error {
    color: #c03;
    font-style: italic;
}

.attribution {
    display: block;
    margin-top: 0.5em;
    color: #aaa;
    font-size: 0.85em;
    font-style: italic;
}

/* .metal .error,
.metal .attribution {
    text-shadow: 0 -1px #999, 0 1px #dfdfdf;
} */

.long {
    font-size: 0.8em;
}

.random #quote {
    margin-top: 0.5em;
}

.random #quote .error {
    display: inline-block;
    margin-top: -0.5em;
}


/* Mode Select ----------------------------------- */

#mode-select {
    font-size: 2.5vw;
}

#user-title {
    white-space: nowrap;
}

a {
    color: #3fa591;
    text-decoration: none;
    border-bottom: 1px dashed #b8b8b8;
}

.orwell a {
    color: #c55;
}

.sealab a {
    color: #ea9435;
}

input {
    display: inline-block;
    width: 80%;
    margin: 5vh 0 5vh 7.5%;
    padding: 1% 2%;
    font-size: 1.2em;
    letter-spacing: -0.03em;
    pointer-events: all;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 1vw;
}

#search-icon {
    display: inline-block;
    position: relative;
    left: -2.25em;
    width: 1.5em;
    height: 1.5em;
    vertical-align: -26%;
    cursor: pointer;
    pointer-events: all;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="612" height="612" viewBox="0 0 612 612"><path d="M401.625 325.125h-191.25c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h191.25c10.557 0 19.125-8.568 19.125-19.125s-8.568-19.125-19.125-19.125zm38.25-114.75h-267.75c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h267.75c10.557 0 19.125-8.568 19.125-19.125s-8.568-19.125-19.125-19.125zM306 0C137.012 0 0 119.875 0 267.75c0 84.514 44.848 159.75 114.75 208.826V612l134.047-81.34c18.552 3.062 37.638 4.84 57.203 4.84 169.008 0 306-119.875 306-267.75S475.008 0 306 0zm0 497.25c-22.338 0-43.91-2.6-64.643-7.02l-90.04 54.124 1.204-88.7C83.5 414.133 38.25 345.513 38.25 267.75c0-126.74 119.875-229.5 267.75-229.5s267.75 102.76 267.75 229.5S453.875 497.25 306 497.25z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    filter: contrast(0);
    transition: opacity 100ms, filter 100ms;
}

#search-icon:focus,
#search-icon:hover {
    filter: contrast(1);
}

#source,
#sealab-qotd {
    color: #666;
    font-size: 0.65em;
}

#sealab-qotd {
    display: none;
}

.sealab #source {
    display: none;
}

.sealab #sealab-qotd {
    display: block;
}


/* Media Queries --------------------------------- */

@media (min-width: 640px) {
    .spacer {
        display: inline-block;
    }

    #machine {
        left: 0;
        width: 60vw;
        height: 37.1vw;
        max-width: 600px;
        max-height: 371px;
        border-radius: 30% / 50%;
        box-shadow: 0 0 0 0.2em #178bb3 inset, 0 0 0 1.8em #222, 0 0 0 3.4em #3fa591, 0 0 0 3.6em #fcfcfc;
    }

    /* This metal plate background has no blue glow but also no potential gradient anomalies */
    .metal #machine {
        background:
            radial-gradient(#e3e3e3 0, #cdcdcd 66%, #8b8b8b 100%) content-box,
            radial-gradient(#272727 20%, transparent 25%) 0 0 / 1.25em 1.25em padding-box,
            radial-gradient(#272727 20%, transparent 25%) 0.625em 0.625em / 1.25em 1.25em padding-box,
            radial-gradient(#444444 20%, transparent 28%) 0 0.125em / 1.25em 1.25em padding-box,
            radial-gradient(#444444 20%, #3d3d3d 28%) 0.625em 0.75em / 1.25em 1.25em padding-box;
    }

    /* This metal plate background with blue glow works well in Firefox */
    @-moz-document url-prefix() {
        .metal #machine {
            background:
                linear-gradient(#cfcfcf 0, #cdcdcd 7%, #e3e3e3 50%, #cdcdcd 93%, #cfcfcf 100%) 50% 0 / 50% no-repeat content-box,
                radial-gradient(#e3e3e3 0, #cdcdcd 60%, #e3e3e3 100%) 0 0 / 50% content-box,
                radial-gradient(#178bb3 10%, transparent 62.5%) 0 0 / 80% no-repeat padding-box,
                radial-gradient(#178bb3 10%, transparent 62.5%) 100% 0 / 80% no-repeat padding-box,
                radial-gradient(#178bb3 10%, transparent 57.5%) 0 0 / 50% padding-box,
                radial-gradient(#272727 20%, transparent 25%) 0 0 / 1.25em 1.25em padding-box,
                radial-gradient(#272727 20%, transparent 25%) 0.625em 0.625em / 1.25em 1.25em padding-box,
                radial-gradient(#444444 20%, transparent 28%) 0 0.125em / 1.25em 1.25em padding-box,
                radial-gradient(#444444 20%, #3d3d3d 28%) 0.625em 0.75em / 1.25em 1.25em padding-box;
        }
    }

    #quote {
        padding: 0 2.2em;
    }

    input {
        margin: 5% 0 5% 7.5%;
    }
}

@media (min-width: 800px) {
    @-moz-document url-prefix() {
        .metal #machine {
            background:
                linear-gradient(#cfcfcf 0, #cdcdcd 7%, #e3e3e3 50%, #cdcdcd 93%, #cfcfcf 100%) 50% 0 / 50% no-repeat content-box,
                radial-gradient(#e3e3e3 0, #cdcdcd 60%, #e3e3e3 100%) 0 0 / 50% content-box,
                radial-gradient(#178bb3 20%, transparent 65%) 0 0 / 80% no-repeat padding-box,
                radial-gradient(#178bb3 20%, transparent 65%) 100% 0 / 80% no-repeat padding-box,
                radial-gradient(#178bb3 20%, transparent 60%) 0 0 / 50% padding-box,
                radial-gradient(#272727 20%, transparent 25%) 0 0 / 1.25em 1.25em padding-box,
                radial-gradient(#272727 20%, transparent 25%) 0.625em 0.625em / 1.25em 1.25em padding-box,
                radial-gradient(#444444 20%, transparent 28%) 0 0.125em / 1.25em 1.25em padding-box,
                radial-gradient(#444444 20%, #3d3d3d 28%) 0.625em 0.75em / 1.25em 1.25em padding-box;
        }
    }
}
